@use '../mixin.scss' as mixin;

.activities-container {
  .container {
    margin: 0 auto;
    padding-top: 12rem;
  }

  .activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.2rem;

    @include mixin.bp-medium {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mixin.bp-small {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .activities-item {
      h5 {
        margin-top: 1rem;
      }
    }
  }
}
