@use '../mixin.scss' as mixin;

.footer-container {
  background-color: #f9f9f9;

  .container {
    margin: 12rem auto 0 auto;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6.4rem;

    @include mixin.bp-large {
      grid-template-rows: repeat(2, 1fr);
      gap: 0 4rem;
      padding: 3rem 0;
    }

    @include mixin.bp-small {
      grid-template-rows: repeat(3, 1fr);
    }

    @include mixin.bp-smallest {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
  }
}

.footer {
  padding: 12rem 0;

  &-one {
    grid-column: 1 / span 2;

    svg {
      width: 3.2rem;
      height: 3.2rem;
      fill: #5243c2;
      margin: 2rem 2rem 0 0;
    }

    p {
      color: mixin.$color-primary-dark-2;
      font-size: 1.3rem;
      font-weight: 400;
      margin-top: 1rem;
    }

    @include mixin.bp-large {
      grid-column: 1 / 4;
    }

    @include mixin.bp-smallest {
      grid-column: 1 / 2;
    }
  }

  &-two {
    @include mixin.bp-large {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    @include mixin.bp-small {
      grid-row: 3 / 4;
    }

    @include mixin.bp-smallest {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin-top: 2rem;
    }
  }

  &-three {
    @include mixin.bp-large {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    @include mixin.bp-small {
      grid-row: 3 / 4;
    }

    @include mixin.bp-smallest {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
  }

  &-four {
    @include mixin.bp-large {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }

    @include mixin.bp-small {
      grid-row: 3 / 4;
    }

    @include mixin.bp-smallest {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }
  }

  &-five {
    grid-column: 6 / -1;

    svg {
      fill: #ffa800;
      width: 2.4rem;
      height: 2.4rem;
    }

    @include mixin.bp-large {
      grid-column: 4 / -1;
    }

    @include mixin.bp-small {
      grid-column: 1 / span 3;
      grid-row: 2 / 3;
    }

    @include mixin.bp-smallest {
      margin-top: 2rem;
      grid-column: 1 / 2;
    }
  }

  &-logo {
    width: 8.8rem;
    height: 3.6rem;
  }

  &-links {
    list-style: none;
    margin-top: 2rem;
  }

  &-link-item {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3rem;
    color: mixin.$color-primary-dark-2;
    margin-bottom: 1rem;
    display: block;
  }

  .subscribe-input {
    margin-top: 1rem;
    position: relative;
    display: flex;

    @include mixin.bp-smallest {
      flex-direction: column;
    }
  }

  .subscribe-input > .email .mail-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: silver;

    @include mixin.bp-smallest {
      top: 22.5%;
    }
  }

  .subscribe-input input[type='text'] {
    width: 100%;
    padding: 2rem 2rem 2rem 4rem;
    border: none;
    border-radius: 1.2rem;
    color: #161444;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.2s;
  }
  .subscribe-input input::placeholder {
    position: relative;
    color: mixin.$color-primary-dark-4;
    font-weight: 500;
    font-size: 1.6rem;
  }

  .subscribe-input input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: mixin.$color-primary-dark-4;
    font-weight: 500;
    font-size: 1.6rem;
  }
  .subscribe-input input::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: mixin.$color-primary-dark-4;
    font-weight: 500;
    font-size: 1.6rem;
    opacity: 1;
  }
  .subscribe-input input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: mixin.$color-primary-dark-4;
    font-weight: 500;
    font-size: 1.6rem;
    opacity: 1;
  }
  .subscribe-input input::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: mixin.$color-primary-dark-4;
    font-weight: 500;
    font-size: 1.6rem;
  }
  .subscribe-input input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: mixin.$color-primary-dark-4;
    font-weight: 500;
    font-size: 1.6rem;
  }

  .btn-subscribe {
    border: none;
    min-width: 6rem;
    min-height: 6rem;
    border-radius: 1.2rem;
    background-color: #7b61ff;
    margin-left: 1rem;
    cursor: pointer;

    svg {
      fill: #fff;
    }

    @include mixin.bp-smallest {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}
