@use '../mixin.scss' as mixin;

.main {
  height: 80vh;
  background-image: url(../images/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  border-bottom-left-radius: 5.5rem;
  border-bottom-right-radius: 5.5rem;
  position: relative;
  top: 7rem;

  .container {
    margin: 0 auto;

    @include mixin.bp-medium {
      padding: 0;
    }
  }
}

.header-content {
  height: 80vh;
  display: grid;
  grid-template-rows: 1fr max-content repeat(2, min-content);
  grid-template-columns: minmax(20rem, 1fr);
  row-gap: 5rem;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search {
  background-color: mixin.$color-primary-light-1;
  border: none;
  border-radius: 1.2rem;
  padding: 1rem;
  width: 80%;

  display: grid;
  grid-template-columns: repeat(16, 1fr);

  @include mixin.bp-small {
    width: 95%;
  }

  @include mixin.bp-smallest {
    padding: 1 rem;
  }

  & > * {
    display: flex;
    align-items: center;

    svg {
      fill: #ffa800;
      width: 2.4rem;
      height: 2.4rem;
      margin: 2rem 1.6rem 2rem 1.6rem;

      @include mixin.bp-large {
        margin: 1rem 0.8rem 1rem 0.8rem;
      }
    }

    p {
      font-weight: 300;
      font-size: 1.4rem;

      @include mixin.bp-large {
        font-size: 1rem;
      }
    }

    h3 {
      font-weight: 500;
      font-size: 1.6rem;

      @include mixin.bp-large {
        font-weight: 500;
        font-size: 1.3rem;
      }

      @include mixin.bp-smallest {
        font-size: 1rem;
      }
    }
  }

  button {
    border: none;
    width: 6rem;
    height: 6rem;
    border-radius: 1.2rem;
    background-color: #7b61ff;

    grid-column: 16 / -1;

    svg {
      fill: mixin.$color-primary-light-1;
      margin: 2rem 1.6rem 2rem 1.6rem;

      @include mixin.bp-smallest {
        margin: 1rem 0.8rem 1rem 0.8rem;
      }
    }

    @include mixin.bp-medium {
      position: relative;
      top: -50%;
    }

    @include mixin.bp-smallest {
      width: 4rem;
      height: 4rem;
    }
  }

  &__location {
    grid-column: 1 / 6;

    @include mixin.bp-medium {
      grid-column: 1 / 9;
    }
  }

  &__activity {
    grid-column: 6 / 9;

    @include mixin.bp-medium {
      grid-column: 9 / 14;
    }
  }

  &__when {
    grid-column: 9 / 12;

    @include mixin.bp-medium {
      grid-column: 1 / 9;
    }
  }

  &__guests {
    grid-column: 12 / 15;

    @include mixin.bp-medium {
      grid-column: 9 / 14;
    }
  }
}
